<div class="footer">
  <div class="footer-text">
    Consumption of alcohol beverages during pregnancy, even in small amounts, can have serious consequences for the child’s health.
    <br>Alcohol abuse is dangerous to your health. Drink responsibly.
  </div>
  <div class="footer-right">
    <div class="footer-text copyright">
      Designed and coded with ❤️ &nbsp;by Margot Fessard © 2020
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
