<div class="footer">
   <div class="footer-copyright">
    L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
    <br>Les contenus de ce site sont destinés à des personnes majeures et ne doivent être partagés qu'à des personnes majeures.
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
