.btn-home {
  color: white;
  background-color: $color_pink;
  font-family: $headers-font;
  font-size: 24px;
  padding: 4px 18px;
  border-radius: 5px;
  font-weight: lighter;
  &:hover {
  color: white;
  text-decoration: none;
  filter: brightness(80%);
  transition: filter 0.3s ease;
  }
}

.btn-add {
  color: white;
  background-color: $color_pink;
  font-family: $headers-font;
  font-size: 24px;
  padding: 4px 18px;
  border-radius: 5px;
  border: none;
  font-weight: lighter;
  &:hover {
  color: white;
  text-decoration: none;
  filter: brightness(80%);
  transition: filter 0.3s ease;
  }
}

.btn-back {
  color: white;
  background-color: $color_grey;
  font-family: $headers-font;
  font-size: 24px;
  padding: 4px 18px;
  border-radius: 5px;
  font-weight: lighter;
  &:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }
}

.btn-cancel {
  color: white;
  background-color: $color_grey;
  font-family: $headers-font;
  font-size: 24px;
  padding: 7px 18px;
  border-radius: 5px;
  font-weight: lighter;
  &:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }
}

.btn-search-pink {
  color: white;
  background-color: $color_pink;
  padding: 5px 18px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  right: 0;
  &:hover {
  filter: brightness(80%);
  transition: filter 0.3s ease;
  }
}

.btn-search-grey {
  color: white;
  background-color: $color_grey;
  padding: 5px 18px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  right: 0;
  &:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }
}

.edit-icon {
  color: $color_pink;
  &:hover {
    text-decoration: none;
    color: $color_pink;
    filter: brightness(70%);
    transition: filter 0.3s ease;
  }
}

.trash-icon {
  color: $color_grey;
  &:hover {
    text-decoration: none;
    color: $color_grey;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}

.btn-form {
  margin-top: 10px;
}

.fa-arrow-circle-left {
  position: absolute;
  left: -100px;
  top: 300px;
  font-size: 48px;
  color: $color_pink;
  &:hover {
    text-decoration: none;
    color: $color_pink;
    filter: brightness(80%);
    transition: filter 0.3s ease;
  }
}

.fa-arrow-circle-right {
  position: absolute;
  right: -100px;
  top: 300px;
  font-size: 48px;
  color: $color_pink;
  &:hover {
    text-decoration: none;
    color: $color_pink;
    filter: brightness(80%);
    transition: filter 0.3s ease;
  }
}

.btn-form-small {
  color: white;
  background-color: $color_pink;
  font-family: $headers-font;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  font-weight: lighter;
  &:hover {
  color: white;
  text-decoration: none;
  filter: brightness(80%);
  transition: filter 0.3s ease;
  }
}

.fa-dice {
font-size: 20px;
background-color: $color_pink;
padding: 7px 12px;
border-radius: 5px;
text-decoration: none;
color: white;
margin-top: 40px;
margin-left: 10px;
&:hover {
  color: white;
  text-decoration: none;
  filter: brightness(80%);
  transition: filter 0.3s ease;
  }
}

