.form-new {
  margin-top: 70px;
  width: 820px;
  height: 480px;
  margin-bottom: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
  position: relative;
  background-color: #FFF;
  // display: flex;
  position: relative;
  overflow: hidden;
  .form-content {
    position: absolute;
    padding: 0 20px;
    left: 350px;
    .form-content-title {
      padding: 30px 0;
      h2 {
        color: $color_grey;
        font-size: 42px;
        text-align: center;
        // flex-grow: 1;
        text-align: left;
        }
      .separator {
        border: 1px solid $color_pink;
        width: 380px;
      }
    }
  }
  img {
    height: 100%;
    position: absolute;
    left: 0;
  }
}

.form {
  margin-top: 70px;
  width: 740px;
  height: 400px;
  margin-bottom: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
  position: relative;
  background-color: #FFF;
  // display: flex;
  position: relative;
  .form-content {
    position: absolute;
    padding: 0 20px;
    left: 300px;
    .form-content-title {
      padding: 30px 0;
      h2 {
        color: $color_grey;
        font-size: 42px;
        text-align: center;
        // flex-grow: 1;
        text-align: left;
      }
      .separator {
        border: 1px solid $color_pink;
        width: 340px;
      }
    }
  }
  img {
    height: 100%;
    position: absolute;
    left: 0;
  }
}

.fa-star {
  font-size: 10px;
  color: $color_pink;
  margin: 0 -2px;
}

.form-review {
  background: $background;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 60px;
  .form-review-content {
    font-size: 12px;
    padding: 10px 15px;
    .form-review-title {
      padding-bottom: 15px;
      h3 {
        font-size: 24px;
        margin-bottom: 5px;
        color: $color_grey;
    }
      .separator {
        border: 1px solid $color_pink;
        width: 240px;
      }
    }
  }
}


