.navbar {
  justify-content: space-between;
  background: #FFF;
  display: flex;
  opacity: 0.9;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.1);
}

#logo-mr-cocktail {
  height: 45px;
  display: flex;
  align-items: center;
}

#main-title {
  margin-left: 10px;
  font-size: 34px;
  color: $color_grey;
  margin-bottom: 6px;
}
