.navbar {
  justify-content: space-between;
  background: #FFF;
  display: flex;
}

#logo-mr-cocktail {
  height: 45px;
  display: flex;
  align-items: center;
}

#main-title {
  margin-left: 10px;
  font-size: 34px;
  color: $color_grey;
  margin-bottom: 6px;
}
