<div class="form-review">
  <div class="form-review-content">
    <h3>Leave a review</h3>
    <%= simple_form_for [ @cocktail, @review ] do |f| %>
      <%= f.input :rating, collection: 0..5, label: "Rate this cocktail !" %>
      <%= f.input :content, label: "Your comment" %>
      <%= f.submit "Submit my review", class: "btn-form-small" %>
    <% end %>
  </div>
</div>

